body {
      font-family: 'Roboto', sans-serif;
    /* font-family: 'Roboto Flex', sans-serif; */
}

.navbar {
    background-color: #343c3c;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #343c3c;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-cardapio .nav-link.active:hover {
    color: #fff;
}


.navbar-toggler {
    background-color: #ffeae6;
}

.section-title {
    /*   font-family: 'Pacifico', cursive; */
    font-weight: bold;
    text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
  /*   font-family: 'Roboto Flex', sans-serif; */
}

#sobre,
#fale-conosco {
    /*  background-color: #ffeae6; */
    background-color: #546c7c38;
}

.text-colored {
    color: #044061;
}

.nav-cardapio .nav-link.active,
#fale-conosco button {
    background-color: #343c3c;
    color: #fff;
}

.nav-cardapio .nav-link:hover {
    color: #343c3c;
}

.social-links li {
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

@media (max-width: 767px) {
    .carousel-item img {
        height: 280px;
    }
}

header img {
    height: 75px;
}




.post {
    margin-bottom: 24px;
}